.dropbtn{
  color: rgb(37, 37, 37);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

@keyframes example {
  from {transform: translateY(20px);}
  to {transform: translateY(0);}
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
  border-radius: 1rem;
  width: 300px;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  z-index: 1;
  animation-name: example;
  animation-duration: .5s;
  border: 1px solid #ececec;

}

/* Links inside the dropdown */
.dropdownContent a {
  color: black;
  padding: 12px 16px;
  margin: .5rem;
  border-radius: .5rem;
  text-decoration: none;
  display: block;
  transition: all .15s ease-in-out;
}

/* Change color of dropdown links on hover */
.dropdownContent a:hover {background-color: #f7f8f9}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
