$raidus : .5rem;


.container{
  display: flex;
  gap: $raidus;
  padding: 12px 16px;
  margin: $raidus;
  border-radius: $raidus;
  transition: all .15s ease-in-out; 
  align-items: center;
}

.container:hover {
  background-color: #f7f8f9;
  .titleContainer{
    gap: 1rem;
  }
  .Shape{
    font-size:2.5em;
  }
}

.box{
  min-width: 70px;
  min-height: 70px;
  background-color: #94dbff;
  border-radius: $raidus;
  display: flex;
  align-items: center;
  justify-content: center
}
.Shape{
  font-size:2em;
  transition: all .15s ease-in-out; 
}
.titleContainer{
  display: flex;
  gap: $raidus;
  align-items: center;
  transition: all .15s ease-in-out; 
}
.title{ 
  color: #2D2D2D;
  font-weight: 600;
}

.arrow{
  color: #1a649c;
}
.wrapper{
  font-size: .9em;
  color: #647491;
}