.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #0059B2 ,  #820ad1, #820ad1);
}
.childContainer{
  max-width: 900px;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.img{
 width: 300px;
}


.childContainer{
  display: flex;
  justify-content: space-between;
  width: 1224px;
  padding: 3rem 0;
}
.flexContainer{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-bottom:1rem;
  gap:10px
}

.tag{
  font-size: .875rem;
  line-height: 1.5;
  letter-spacing: 0;
  margin-bottom: 10px;
  font-family: 'Metropolis-Bold';
  color: #ffffff;
}
.heading{
  font-size:clamp(1.5rem, 0.9643rem + 1.4286vw, 2.25rem);
  font-weight: 600;
  line-height: 56px;
  line-height: 1.2222222222222223;
  margin-bottom: .5rem;
}
.marker{
  font-size:clamp(1.5rem, 0.9643rem + 1.4286vw, 2.25rem);
  background: linear-gradient(to right, #ffffff, #b0d4f9);
  background-clip: border-box;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.title{
  font-size:1.2rem;
}



.downloadContainer{
  display:flex;
  gap: 1.5rem;
  max-width: 500px;
}



